.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    width: 100%;
    height: 60px;
    background: rgba(12, 12, 12, 1);
    z-index: 2;
    /* border-bottom: 1px solid #134f5f; */

    .left-container {
        width: 40%;

        .go-back-container {
            padding-left: 40px;
        }
    }

    .clear-button-container {
        padding-right: 60px;
    }

    .right-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 40%;

        .dropdown-list-container {
            

            .menu-icon-container {
                padding-right: 40px;
                padding-bottom: 2px;
            }

            .dropdown-container {
                position: absolute;
                right: 20px;
                top: 0px;
                margin-top: 60px;
                z-index: 1;
            }
        }

        .page-counter {
            font-size: 0.9em;
        }

        .arrows {
            text-align: right;
            padding: 0 30px 0 15px;
        }
    }
}
