.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    width: 100%;
    height: 60px;
    background: rgba(12, 12, 12, 1);
    z-index: 2;
    /* border-bottom: 1px solid #134f5f; */

    .go-back-container {
        width: 260px;
        padding-left: 40px;
    }

    .arrows-container {
        width: 300px;

        .arrows {
            text-align: right;
            margin-right: 50px;
        }
    }
}
