.container {
    overflow: hidden;
}
.card-list {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto 0 auto;
    padding: 1% 0;
    justify-items: center;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    height: 100vh;
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}