.card-list-wrapper {
    height: calc(100vh - 70px);
    padding-top: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .card-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
