.asset-detailed-container {
    color: #e4e5fc;
    height: calc(100vh - 60px);
    
    .assetBox {
        position: relative;
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: minmax(450px, 1fr) minmax(600px, 2fr);
        grid-gap: 20px;
        justify-content: space-between;
        padding: 20px 30px 0 30px;
        height: 95%;
    }
    
    .headerInfo {
        grid-column: 2 / 3;
        margin-left: 50px;
    }
}

