.menu {
    background: #0b0b0d;
    width: 100%;
    height: 100vh;
    border-right: 2px solid #d3d5fd;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-items-container {
        height: 85%;
        padding-top: 15%;
    }
}
