.card-field-container {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin: 5px 0;
    }

    .card-id {
        font-size: 140%;
    }

    .card-field-one {
        font-size: 100%;
    }

    .card-field-two {
        font-size: 75%;
    }

    .card-field-three {
        font-size: 75%;
    }
}
