.custom-input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;

    .custom-icon-input {
        background: #0b0b0d;
        border: 1px solid #0b0b0d;
        border-bottom: 1px solid rgb(70, 66, 66);
        height: 35px;
        width: 100%;
        color: white;
        text-indent: 50px;
        font-size: 1em;

        &:focus {
            outline: none;
            border-bottom:1px solid white;
        }

        &::placeholder {
            font-size: 0.8em;
            text-transform: capitalize;
        }
    }

    .border-green {
        border-bottom: 1px solid rgba(16, 196, 10, 0.575);

        &:focus {
            border-bottom: 1px solid rgb(16, 196, 10);
        }
    }

    .border-red {
        border-bottom: 1px solid rgba(196, 10, 10, 0.616);

        &:focus {
            border-bottom: 1px solid rgb(196, 10, 10);
        }
    }

    .custom-icon-image {
        position: absolute;
        height: 20px;
        padding-left: 10px;
    }
}
