.search-box-wrapper {
    display: flex;
    align-items: center;
    background: rgb(43, 42, 42);
    // border: 1px solid #d3d5fd;
    border-radius: 12px;
    height: 100%;

    .clear-button-wrapper {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .search-box {
        /* margin-right: 12.5%; */
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
        width: 100%;
        // background: #0b0b0d;
        background: rgb(43, 42, 42);
        border: none;
        border-radius: 12px;
        color: white;
        text-align: center;
        font-size: 0.8em;
        text-indent: 30px;

        &:focus {
            outline: none;
        }
    }

    .search-icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        // -webkit-transform: scaleX(-1);
        // transform: scaleX(-1);
    }
}
