.search-box {
    /* margin-right: 12.5%; */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    height: 40px;
    background: #0b0b0d;
    border: 2px solid #d3d5fd;
    border-radius: 8px;
    color: white;
    text-align: center;
}