.details {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    align-items: center;
    background: #0b0b0d;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(2, 2, 2, 0.1) inset, 0px 0px 15px rgba(12, 12, 12, 0.9);
    /* border-top: 1px solid #e4e5fc; */
}

.detailBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}