.menu-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    

    &:hover {
        background: rgb(37, 37, 37);
        text-emphasis: none;
        -webkit-text-emphasis: none;
    }

    .menu-item-icon {
        height: 40px;
        width: 40px;
        margin: 16px 16px;
    }
}
