.menu-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    border-radius: 24px;
    background: white;


    .menu-icon {
        cursor: pointer;
        height: 49px;
        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: scale(1.08);
        }

        &:active {
            transform: scale(1);
        }
    }
}
