.card-action {
    font-size: 0.8em;
    width: 100%;
    background: rgb(29, 28, 28);
    border-top: 1px solid #0b0b0d;
    border-bottom: 1px solid #0b0b0d;
    padding: 5px 0px;
    transition: 0.2s;
    z-index: 0;

    &:hover {
        background: rgb(37, 37, 37);
        border-top: 1px solid #525258;
        border-bottom: 1px solid #525258;
    }

    &:active {
        background: rgb(167, 162, 162);
    }
}
