.user-menu-display {
    height: 120px;
    display: flex;
    align-items: center;
    margin-top: 20px;

    &:hover {
        background: rgb(37, 37, 37);
    }

    .user-image {
        cursor: pointer;
        height: 90px;
        width: 90px;
        border-radius: 45px;
        margin-right: 5%;
        margin-left: 20px;
    }

    .user-info-container {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        .user-name {
            font-size: 1em;
            margin-bottom: 5px;
        }

        .user-id {
            font-size: 0.8em;
        }
    }
}
